<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
      <h1 class="page-title">AI Resume Analyzer Using LLMs</h1>

        <div class="card">
            <h2>Sign Up</h2>
            <p>Create your account to start analyzing resumes</p>

            <!-- Flash message area -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul>
                  {% for category, message in messages %}
                  <li class="{{ category }}">
                    {{ message }}
                </li>
                
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <form method="POST">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <div class="remember">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit">Sign Up</button>
            </form>

            <p class="signin-link">Already have an account? <a href="{{ url_for('Login') }}">Login</a></p>
        </div>
    </div>
</body>
</html>
